.checked, .unchecked {
    list-style: none;
}

.checked::before {
    content: url(../img/icons/check.svg);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2% 2% 6% 0;
    left: -3%;
    float: left;
}

.unchecked::before {
    content: url(../img/icons/unchecked.svg);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2% 2% 6% 0;
    left: -3%;
    float: left;
}

#annually-btn:hover, #monthly-btn:hover {
    font-weight: bold;
}